

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4c4c4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
    align-items: center;
}
.navbar img{
    width: 147px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Navbar link styles for mobile */
.navbar-links {
    display: flex;
    justify-content: flex-start;
}

/* The "hamburger" menu for mobile screens */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Close button for mobile screens */
.close-btn {
    font-size: 30px;
    color: #4CAF50;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Hide links when navbar is collapsed */
.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navbar-links li {
    margin-left: -13px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links.active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        text-align: center;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
        color: white;
    }
}